@import "assets/typography";
@import "assets/buttons";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: repeat(3, 250px);
  gap: 10px;
  background-color: lightskyblue;
}

.grid-item {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
}

.grid-item:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-item:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-item:last-child {
  grid-column-start: 2;
  grid-column-end: 4;
}
